{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h2 class="logo-font text-left mb-4 mt-4">Add a Review</h2>
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h3 class="text-muted">{{ product.name }}</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_review' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right mb-4">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Post Review</button>
                </div>
            </form>
        </div>
        
        <div class="card-fixed col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="card h-100 border-0">
                {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top-rev img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top-rev img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
           </div>
        </div>
    </div>
</div>
{% endblock %}

